nav {
    position: fixed;
    @include flexbox();
    height: $nav-height;
    left: 0;
    right: 0;
    z-index: 50;
    align-items: center;
    background-color: rgba($gray-blue, 1);
    border-bottom: 5px solid $gray;

    .index-link {
        margin: auto;
        font-size: 300%;
        font-weight: 700;

        &:hover {
            animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
            @include transform(translate3d(0, 0, 0));
            @include backface-visibility(hidden);
            perspective: 1000px;
        }

        & > span, & > img {
            display: inline-block;
            vertical-align: bottom;
        }
        img {
            width: 40px;
            margin-bottom: 15px;
            margin-left: -15px;;
        }
    }
    .login-link {
        cursor: pointer;
    }

    .router-link-container {
        @include flexbox();
        margin: auto;

        ul {
            @include flexbox();
            margin-left: auto;
            @include align-items(center);

            li {
                @include flexbox();
                margin-right: 20px;
                font-weight: 700;
                font-size: 140%;
                text-transform: uppercase;
                @include addTransition();

                &:hover {
                    transform: rotate(7deg);
                    color: $green;
                }
                &:active{
                    transform: scale(1.4);
                    color: $red;
                }
            }
        }
    }

    .active {
        color: $green;
        .logged-profile-nav-btn {
            img {
                border: 3px solid $green !important;
            }
        }
    }

    .logged-profile-nav-btn {
        @include flexbox();
        @include align-items(center);
        @include flex-direction(row-reverse);
        @include addTransition();
        img {
            width: 35px;
            @include border-radius(50%);
            border: 3px solid $gray-blue-border;
            margin-left: 10px;
        }
        .user-data-container {
            text-align: center;
        }

        &:hover {
            animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
            @include transform(translate3d(0, 0, 0));
            @include backface-visibility(hidden);
            perspective: 1000px;
        }
    }
}
