nav {
    @include flexbox();
    align-items: center;
    background-color: rgba($gray-blue, 1);
    border-bottom: 5px solid $gray;

    .index-link {
        margin: auto;
        font-size: 300%;
        font-weight: 700;
        & > span, & > img {
            display: inline-block;
            vertical-align: bottom;
        }
        img {
            width: 40px;
            margin-bottom: 15px;
            margin-left: -15px;;
        }
    }
    .login-link {
        width: 75px;
        height: 40px;
        cursor: pointer;
    }

    .router-link-container {
        @include flexbox();
        margin: auto;

        ul {
            @include flexbox();
            margin-left: auto;
            @include align-items(center);

            li {
                @include flexbox();
                margin-right: 20px;
                font-weight: 700;
                font-size: 140%;
                text-transform: uppercase;
            }
        }
    }

    .active {
        color: $white;
    }
}

