#home {
    .top-container {
        @include flexbox();
        @include justify-content(center);
        @include align-items(center);
        min-height: 47vh;
        margin-bottom: -$nav-height;
        text-align: center;
        border-bottom: 5px solid $gray;
        @media only screen and (min-width: 1919px) {
            background-position-y: -50%;
        }

        @media screen and (max-width: 750px) {
            @include flex-direction(column);
        }

        @media only screen and (min-width: 960px) {
            background: url("staticFiles/images/bg960.jpg") no-repeat;
            background-size: 100% 100%;
        }
        @media only screen and (min-width: 1440px) {
            background: url("staticFiles/images/bg960.jpg") no-repeat;
            background-size: 100% 100%;
        }
        @media only screen and (min-width: 1919px) {
            background: url("staticFiles/images/bgBig.jpg") no-repeat;
            background-size: 100% 100%;
        }

        .header-container {
            width: 50%;
            h1 {
                font-size: 300%;
                font-weight: 700;
                text-transform: uppercase;
                @media only screen and (max-width: 980px) {
                    font-size: 200%;
                }
            }
            @media screen and (max-width: 750px) {
                width: 100%;
            }
        }
        .wins-container {
            @include flexbox();
            @include flex-direction(column);
            width: 30%;
            max-height: 23vh;
            @include flex-flow(column-reverse wrap);
            overflow: auto;
            @media screen and (max-width: 750px) {
                width: 100%;
            }
        }
    }

    .game-list-container {
        padding: 20px 0 50px 0;
        background-color: rgba($gray-blue, 1);
        .header {
            position: relative;
            max-width: 1100px;
            margin: auto;
            padding-left: 15px;
            font-weight: 700;
            font-size: 200%;

            &::after {
                content: '';
                top: 0;
                left: 0;
                height: 3px;
                background: $white;
                width: 50%;
            }
        }
        .games-container {
            max-width: 850px;
            margin: auto;
            @include flexbox();
            @include flex-wrap(wrap);
            @include justify-content(space-around);
            padding: 40px 0;
            text-align: center;

            .game {
                max-width: 200px;
                margin: 20px;
                .svg-icon {
                    width: 100px;
                    height: 100px;
                }

                &.pointer {
                    @include addTransition();

                    &:hover {
                        @include transform(scale(1.2));
                        color: $dark-gray;
                        .svg-icon {
                            fill: $dark-gray !important;
                        }
                    }
                }

                .game-header {
                    font-weight: 700;
                    font-size: 140%;
                }
            }
        }
    }
}

.win-info-container {
    @include inline-flex();
    @include align-items(center);
    padding: 5px 20px;
    margin: 5px;
    background-color: rgba($gray-blue, 0.7);
    border: 8px solid $gray-blue-border;
    @include border-radius(8px);
    font-weight: 600;
    img {
        width: 25px;
        height: 25px;
        @include border-radius(50%);
        background: $black;
        margin-right: 5px;
    }

    .win-sum {
        margin: 0 5px;
    }
    .win-game {
        margin-left: 5px;
    }
}

.winner-animate-enter {
    opacity: 0.01;
    &.winner-animate-enter-active {
        opacity: 1;
        @include transform(rotateY(-90deg));
        @include transition(all 0.5s cubic-bezier(.36, -0.64, .34, 1.76));
    }
}

.winner-animate-leave {
    opacity: 1;
    &.winner-animate-leave-active {
        opacity: 0.01;
        @include transform(rotateY(-90deg));
        @include transition(all 0.5s cubic-bezier(.36, -0.64, .34, 1.76));
    }
}

.winner-animate-appear {
    opacity: 0;
    @include transform(rotateY(-90deg));
    @include transition(all 0.5s cubic-bezier(.36, -0.64, .34, 1.76));
    &.winner-animate-appear-active {
        opacity: 1;
        @include transform(none);
        @include transition(all 0.5s cubic-bezier(.36, -0.64, .34, 1.76));
    }
}



