$white: #ffffff;
$black: #000000;
///homepage/
//footer/bg - very dark (mostly black) blue - #141e26
$dark-blue: #141e26;
//games - very dark grayish blue  - #353f47
$gray-blue: #353f47;
//lines/borders - dark grayish blue - #5d6a72
$gray-blue-border: #5d6a72;
//thin borders - grayish red - #cec6c6
$gray: #cec6c6;
///market/
//headline - dark grayish blue - #8ba1b2
$dark-gray: #8ba1b2
