#market {
    .top-container {
        position: relative;
        min-height: 400px;
        text-align: center;
        background: url('staticFiles/images/bg.jpg') no-repeat;
        background-size: cover;

    }
    .items-container {
        padding: 50px;
        background-color: $black;
        text-align: center;
    }
}

.search-bar {
    position: absolute;
    padding: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    background: $dark-gray;
    text-transform: uppercase;

    & > div,
    h1 {
        display: inline-block;
        width: 50%;
        margin: auto;
        vertical-align: middle;
        font-weight: 700;
    }
    & > div > *,
    .search-btn {
        display: inline-block;
        vertical-align: middle;

        input[type="text"] {
            margin: 0 5px;
            padding: 10px;
            border: none;
            @include border-radius(20px 0 0 20px);
            transition: box-shadow 0.3s, border 0.3s;
        }
        input[type="text"]:focus {
            @include box-shadow(0 0 5px 1px $dark-blue);
        }
    }

    .svg-icon {
        width: 40px;
        height: 40px;
    }
}

.market-item {
    display: inline-block;
    vertical-align: middle;
    margin: 2px;
    max-width: 250px;
    text-align: center;
    cursor: pointer;
    background-color: rgba($dark-blue, 0.7);
    border: 3px solid rgba($gray, 0.7);

    .description {
        padding: 5px;;
        border-color: 3px solid rgba($gray, 0.7);
        border-top: 3px solid;
        border-bottom: 3px solid;
    }
    .price-container {
        @include flexbox();
        @include justify-content(space-between);
        padding: 5px 10px;

    }
    .svg-icon {
        width: 25px;
        height: 25px;
    }

    &:hover {
        background-color: rgba($dark-blue, 1);
        border: 3px solid rgba($gray, 1);
        .description {
            border-color: 3px solid rgba($gray, 1);
        }
    }
}

.paging {
}

.ReactModal__Overlay {
    -webkit-perspective: 600;
    perspective: 600;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.ReactModal__Overlay--after-open {
    opacity: 1;
    transition: opacity 150ms ease-out;
}

.ReactModal__Content {
    -webkit-transform: scale(0.5) rotateX(-30deg);
    transform: scale(0.5) rotateX(-30deg);
}

.ReactModal__Content--after-open {
    -webkit-transform: scale(1) rotateX(0deg);
    transform: scale(1) rotateX(0deg);
    transition: all 150ms ease-in;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}

.ReactModal__Content--before-close {
    -webkit-transform: scale(0.5) rotateX(30deg);
    transform: scale(0.5) rotateX(30deg);
    transition: all 150ms ease-in;
}

.ReactModal__Content.modal-dialog {
    border: none;
    background-color: transparent;
}

.item-modal-dialog {
    .modal-body {
        background-color: rgba($dark-gray, 1) !important;
        border: 1px solid $gray !important;
        text-align: center;

        .item-description,
        .item-buy-container {
            display: inline-block;
            vertical-align: middle;
            padding: 10px;
        }

        .item-description {
            width: 40%;

            & > div {
                margin: 5px;
            }
            img {
                width: 100%;
            }

            .svg-icon {
                width: 25px;
                height: 25px;
            }

        }
        .item-buy-container {
            width: 60%;
            .answer-container {
                margin-top: 20px;
            }
        }

        button {
            margin: 5px;
            font-size: 110%;
            border: none;
            border-radius: 15px;
            padding: 5px 15px;
            text-transform: uppercase;
            font-weight: 700;
            opacity: 0.7;

            &:hover {
                opacity: 1;
            }
        }
    }

}


