@font-face {
    font-family: freightBold;
    src: url(staticFiles/ufonts.com_freight-sans-bold-sc-opentype.otf);
}

html, body {
    font-family: freightBold, sans-serif;
}

* {
    outline: none !important;
}

a:visited,
a:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a {
    cursor: pointer !important;
}

ul {
    li {
        list-style: none;
    }
}

@media screen and (max-width: 750px) {
    body {
        font-size: 11px;

    }
    html, body {
        overflow-x: hidden;
    }
}

@media screen and (min-width: 750px) {
    ::-webkit-scrollbar {
        width: 9px;
        height: 9px;
    }

    ::-webkit-scrollbar-button {
        width: 0px;
        height: 0px;
    }

    ::-webkit-scrollbar-thumb {
        background: #e1e1e1;
        border: 0px none #ffffff;
        border-radius: 50px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #ffffff;
    }

    ::-webkit-scrollbar-thumb:active {
        background: #000000;
    }

    ::-webkit-scrollbar-track {
        background: #666666;
        border: 0px none #ffffff;
        border-radius: 50px;
    }

    ::-webkit-scrollbar-track:hover {
        background: #666666;
    }

    ::-webkit-scrollbar-track:active {
        background: #333333;
    }

    ::-webkit-scrollbar-corner {
        background: transparent;
    }
}

@import "common/scss/index";
@import "components/navigation/navigation";
@import "components/footer/footer";
@import "components/home/home";
@import "components/toastMessages/toastMessages";
@import "components/popupMessages/popupMessage";
@import "routes/Market/components/market";
@import "routes/Market/routes/Cart/component/cart";
@import "routes/Deposit/components/deposit";
@import "routes/Jackpot/components/jackpot";
@import "routes/Support/components/support";
@import "routes/Profile/components/profile";

body {
    background: $black;
    color: $white;
}

.page-wrapper {
    position: relative;
    min-height: 100vh;
    //margin-top: -$nav-height;
    margin-bottom: -$footer-height;
    &:after {
        content: "";
        display: block;
        height: $footer-height;
    }

    &:before {
        content: "";
        display: block;
        height: $nav-height;
    }
}

.bg-red {
    background-color: $red;
}

.bg-green {
    background-color: $green;
}

.not-visible {
    visibility: hidden;
}

.hidden {
    display: none;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.tcenter {
    text-align: center;
}

.mauto {
    margin: auto;
}

.pointer {
    cursor: pointer;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.clearfix {
    display: inline-block;
}

.clearfix {
    display: block;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                           not supported by any browser */
}

.top-container {
    position: relative;
    @include transition(all 500ms ease-out 50ms);
    min-height: 30vh;
    text-align: center;

    background-size: cover;

    @media only screen and (max-device-width: 480px) {
        background: url("staticFiles/images/bg480.jpg") no-repeat;
        background-size: cover;
    }

    @media only screen and (min-device-width: 480px) {
        background: url("staticFiles/images/770.jpg") no-repeat;
        background-size: cover;
    }

    @media only screen and (min-device-width: 768px) {
        background: url("staticFiles/images/bg960.jpg") no-repeat;
        background-size: cover;
    }

    @media only screen and (min-width: 960px) {
        background: url("staticFiles/images/bg1450.jpg") no-repeat;
        background-attachment: fixed;
    }
    @media only screen and (min-width: 1440px) {
        background: url("staticFiles/images/bgMedium.jpg") no-repeat;
        background-size: 100%;
        background-attachment: fixed;
    }
    @media only screen and (min-width: 1919px) {
        background: url("staticFiles/images/bgBig.jpg") no-repeat;
        background-size: 100%;
        background-position-y: -100%;
        background-attachment: fixed;
    }



    &:before {
        content: 'We will be live soon!';
        border: 2px solid $red;
        color: $red;
        position: absolute;
        font-size: 200%;
        left: 10px;
        right: 10px;
        padding: 10px;
        top: 10px;
        border-radius: 10px;

    }

    .header {
        position: absolute;
        padding: 10px;
        bottom: 0;
        left: 0;
        right: 0;
        background: $dark-gray;
        text-transform: uppercase;

        h1 {
            display: inline-block;
            margin: auto;
            vertical-align: middle;
            font-weight: 700;
            margin-right: 40%;
            @media screen and (max-width: 650px) {
                display: block;
            }
        }
    }
}
