a:visited,
a:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

@import "common/scss/index";
@import "components/navigation/navigation";
@import "components/footer/footer";
@import "components/home/home";

body{
    color: $white;
}
