a:visited,
a:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

ul {
    li {
        list-style: none;
    }
}

@import "common/scss/index";
@import "components/navigation/navigation";
@import "components/footer/footer";
@import "components/home/home";
@import "routes/Market/components/market";

body {
    background: $black;
    color: $white;
}

.bg-red {
    background-color: $red;
}

.bg-green {
    background-color: $green;
}

.top-container {
    position: relative;
    min-height: 400px;
    text-align: center;
    background: url("staticFiles/images/bg.jpg") no-repeat;
    background-size: cover;
    .header {
        position: absolute;
        padding: 10px;
        bottom: 0;
        left: 0;
        right: 0;
        background: #8ba1b2;
        text-transform: uppercase;

        h1 {
            font-weight: 700;
        }
    }
}
